In [1]:
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from scipy import stats

In [2]:
from datetime import date, timedelta
import calendar as ca
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error
import lightgbm as lgb

In [4]:
kobe_sales = pd.read_csv('kobe_sales.csv')

In [5]:
kobe_sales.head()

  Order type Product type        Date  Quantity  Price  Unit Cost
0        Web       ヘッドセット  2019-01-01         2  16300      10600
1         店舗       ヘッドセット  2019-01-01         1  14000       8300
2        Web        オーディオ  2019-01-01         2   4000       2200
3         店舗        オーディオ  2019-01-01         1   3400       2100
4     E-mail        オーディオ  2019-01-01         3   2700       1600

In [4]:
shop_list = [saitama_sales, yokohama_sales, shijyou_sales, kobe_sales, umeda_sales, toyohashi_sales, nagoya_sales, sinnjyuku_sales]

In [5]:
for shop in shop_list:
    shop["Date"] = pd.to_datetime(shop["Date"], format="%Y-%m-%d")

In [6]:
from dateutil.relativedelta import relativedelta

In [7]:
for shop in shop_list:
    three_years_from_now = []
    for date in shop['Date']:
        three_years_from_now.append(date + relativedelta(years=3))
    shop['Date'] = three_years_from_now

In [8]:
saitama_sales

     Order type Product type       Date  Quantity  Price  Unit Cost
0           Web        タブレット 2019-01-01         1  64400      38900
1           Web       Web 編集 2019-01-01         1  15100       8400
2           Web       ヘッドセット 2019-01-01         1   7700       4600
3           Web          ゲーム 2019-01-01         1   7200       3800
4        E-mail        オーディオ 2019-01-01         1   2400       1400
...         ...          ...        ...       ...    ...        ...
9686        Web          ゲーム 2022-06-29         1  16000      10000
9687        Web          ゲーム 2022-06-29         1  13600       7000
9688        Web          ゲーム 2022-06-29         1   8100       4200
9689        Web          ゲーム 2022-06-29        11   8100       4500
9690        Web          ゲーム 2022-06-29         1   5200       3300

[9691 rows x 6 columns]

In [11]:
saitama_sales.to_csv('base/saitama_sales.csv', index=False)
yokohama_sales.to_csv('base/yokohama_sales.csv', index=False)
shijyou_sales.to_csv('base/shijyou_sales.csv', index=False)
kobe_sales.to_csv('base/kobe_sales.csv', index=False)
umeda_sales.to_csv('base/umeda_sales.csv', index=False)
toyohashi_sales.to_csv('base/toyohashi_sales.csv', index=False)
nagoya_sales.to_csv('base/nagoya_sales.csv', index=False)
sinnjyuku_sales.to_csv('base/sinnjyuku_sales.csv', index=False)

In [9]:
import datetime
dt_now = datetime.datetime.now()

In [16]:
dt_now

datetime.datetime(2022, 2, 26, 17, 40, 36, 608593)

In [17]:
dt_now = datetime.date.today()

print(dt_now)

2022-02-26

In [10]:
saitama_sales_past = saitama_sales[saitama_sales['Date'] < str(dt_now)]
yokohama_sales_past = yokohama_sales[yokohama_sales['Date'] < str(dt_now)]
shijyou_sales_past = shijyou_sales[shijyou_sales['Date'] < str(dt_now)]
kobe_sales_past = kobe_sales[kobe_sales['Date'] < str(dt_now)]
umeda_sales_past = umeda_sales[umeda_sales['Date'] < str(dt_now)]
toyohashi_sales_past = toyohashi_sales[toyohashi_sales['Date'] < str(dt_now)]
nagoya_sales_past = nagoya_sales[nagoya_sales['Date'] < str(dt_now)]
sinnjyuku_sales_past = sinnjyuku_sales[sinnjyuku_sales['Date'] < str(dt_now)]

In [12]:
kobe_sales_past.head()

  Order type Product type       Date  Quantity  Price  Unit Cost
0        Web       ヘッドセット 2019-01-01         2  16300      10600
1         店舗       ヘッドセット 2019-01-01         1  14000       8300
2        Web        オーディオ 2019-01-01         2   4000       2200
3         店舗        オーディオ 2019-01-01         1   3400       2100
4     E-mail        オーディオ 2019-01-01         3   2700       1600

In [20]:
# saitama_sales_past.to_csv('past/saitama_sales_past.csv', index=False)
# yokohama_sales_past.to_csv('past/yokohama_sales_past.csv', index=False)
# shijyou_sales_past.to_csv('past/shijyou_sales_past.csv', index=False)
# kobe_sales_past.to_csv('past/kobe_sales_past.csv', index=False)
# umeda_sales_past.to_csv('past/umeda_sales_past.csv', index=False)
# toyohashi_sales_past.to_csv('past/toyohashi_sales_past.csv', index=False)
# nagoya_sales_past.to_csv('past/nagoya_sales_past_past.csv', index=False)
# sinnjyuku_sales_past.to_csv('past/sinnjyuku_sales_past.csv', index=False)

In [21]:
saitama_sales_future = saitama_sales[saitama_sales['Date'] >= str(dt_now)]
yokohama_sales_future = yokohama_sales[yokohama_sales['Date'] >= str(dt_now)]
shijyou_sales_future = shijyou_sales[shijyou_sales['Date'] >= str(dt_now)]
kobe_sales_future = kobe_sales[kobe_sales['Date'] >= str(dt_now)]
umeda_sales_future = umeda_sales[umeda_sales['Date'] >= str(dt_now)]
toyohashi_sales_future = toyohashi_sales[toyohashi_sales['Date'] >= str(dt_now)]
nagoya_sales_future = nagoya_sales[nagoya_sales['Date'] >= str(dt_now)]
sinnjyuku_sales_future = sinnjyuku_sales[sinnjyuku_sales['Date'] >= str(dt_now)]

In [22]:
# saitama_sales_future.to_csv('future/saitama_sales_future.csv', index=False)
# yokohama_sales_future.to_csv('future/yokohama_sales_future.csv', index=False)
# shijyou_sales_future.to_csv('future/shijyou_sales_future.csv', index=False)
# kobe_sales_future.to_csv('future/kobe_sales_future.csv', index=False)
# umeda_sales_future.to_csv('future/umeda_sales_future.csv', index=False)
# toyohashi_sales_future.to_csv('future/toyohashi_sales_future.csv', index=False)
# nagoya_sales_future.to_csv('future/nagoya_sales_future_future.csv', index=False)
# sinnjyuku_sales_future.to_csv('future/sinnjyuku_sales_future.csv', index=False)